<launch>
    <include file="$(find usb_cam)/launch/usb_cam.launch"/>

    <node name="yolo_detection" pkg="camera" type="yolo_node.py"/>
    <node name="traffic_node" pkg="camera" type="traffic_light_color_decoder_node.py" output="screen" launch-prefix="gnome-terminal --command"/>
    <node name="crosswalk_detection" pkg="camera" type="crosswalk_detection_node.py" output="screen" launch-prefix="gnome-terminal --command"/>
    
</launch>
